<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>도서 등록</title>
  </head>
  <body>
    <form th:action="@{/books/add}" th:method="post">
      <div>
        <label for="bookId">도서 ID</label>
        <input type="text" name="bookId" id="bookId" />
      </div>
      <div>
        <label for="name">도서명</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="unitPrice">가격</label>
        <input type="text" name="unitPrice" id="unitPrice" />
      </div>
      <div>
        <label for="author">저자</label>
        <input type="text" name="author" id="author" />
      </div>
      <div>
        <label for="description">상세정보</label>
        <textarea name="description" id="description" cols="50" rows="2"></textarea>
      </div>
      <div>
        <label for="publisher">출판사</label>
        <input type="text" name="publisher" id="publisher" />
      </div>
      <div>
        <label for="category">분야</label>
        <input type="text" name="category" id="category" />
      </div>
      <div>
        <label for="unitsInStock">재고수</label>
        <input type="text" name="unitsInStock" id="unitsInStock" />
      </div>
      <div>
        <label for="releaseDate">출판일</label>
        <input type="text" name="releaseDate" id="releaseDate" placeholder="YYYY/MM/DD" />
      </div>
      <div>
        <span>상태</span>
        <input type="radio" id="condition_new" name="condition" value="new" />
        <label for="condition_new">신규 도서</label>
        <input type="radio" id="condition_old" name="condition" value="old" />
        <label for="condition_old">중고 도서</label>
        <input type="radio" id="condition_ebook" name="condition" value="ebook" />
        <label for="condition_ebook">전자책</label>
      </div>
      <div>
        <button type="submit">등록</button>
      </div>
    </form>
  </body>
</html>