<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>도서 상세</title>
    <link rel="stylesheet" th:href="@{/css/book.css}" />
  </head>
  <body>
    <h2 th:text="${book.name}">도서 제목</h2>
    <p th:text="${book.description}">설명</p>
    <p><b>도서 코드</b> : <span th:text="${book.bookId}"></span></p>
    <p><b>저자</b> : <span th:text="${book.author}"></span></p>
    <p><b>출판사</b> : <span th:text="${book.publisher}"></span></p>
    <p><b>출판일</b> : <span th:text="${book.releaseDate}"></span></p>
    <p><b>분야</b> : <span th:text="${book.category}"></span></p>
    <p><b>재고수</b> : <span th:text="${book.unitsInStock}"></span></p>
    <p><b>가격</b> : <span th:text="${book.unitPrice + '원'}"></span></p>
    <br />
    <div>
      <a href="#">도서주문</a>
      <a th:href="@{/cart}">장바구니</a>
      <a th:href="@{/books}">도서목록</a>
    </div>
  </body>
</html>